<div class="topContaier">
  <h1 class="topPage">Blog App</h1>
  <p class="topPage">日々思っていること、感じていること、気軽に何でも投稿可能なブログ投稿サイトです</p>
  <div class="page-link toBlogIndex">
    <%= link_to "ブログ一覧画面へ", blogs_path, class: 'btn btn-warning' %>
  </div>
</div>
