*{
  box-sizing: border-box;
}

li{
  list-style-type: none;
}

html{
  width: 100%;
  height: 100%;
}

body{
  width: 100%;
  height: 100%;
  background-color: #000000; /* ここを変更 */
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 18px;
  line-height: 18px;
  position: relative;
}

.topContaier{
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
  background-image: url('../assets/image1.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.topPage, .topContaier .page-link{
  margin: 0;
  padding: 0;
  color: #ddd;
  position: absolute;
  left: 0;
  right: 0;
}

h1.topPage{
  top: 20%;
}

p.topPage{
  top: 30%;
}

.topContaier .page-link{
  top: 60%;
}

header, footer{
  margin: 0 auto;
  text-align: center;
}

header{
  border: none;
}

header .navbar.navbar-default{
  margin: 0 auto;
  border: none;
}

header .container-fluid{
  background-color: #020;
}

.topContaier .btn-warning{
  font-size: 16px;
  padding: 10px 20px;
}

footer{
  width: 100%;
  background-color: #020;
  padding: 20px 0 10px 0;
  color: #ddd;
  margin: auto;
  font-size: 12px;
  position: fixed;
  bottom: 0;
}
